h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, serif;
}

p, a, ul, ol {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    background-image: url("../images/diagonal-squares.png");
}
header {
    background-color: #ffffff;
    border-color: #cccccc;
}

footer {
    background-color: #666666;

}

.main {
    background-color: #ffffff;
    border-color: #dddddd;

}