body {
    background-image: url("../images/diagonal-squares.png")
}
.header {
    background-color: #ffffff;
    width: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    clear: both; 
    border-bottom: #cccccc 2px solid;
}
.center {
    margin: 0 auto;
    width: 960px;
}
.name {
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    float: left;
}

.links {
    float: right;
    
}
ul {
    list-style: none;

}
li {
    float: left;
    margin-left: 20px;
}
.main-body {
    background-color: #ffffff;
    margin: 200px auto;
        width: 960px;
    clear: both;
}
.about {

}