body {
    background-image: url("../images/diagonal-squares.png")
}
.header {
    background-color: #ffffff;
    width: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    clear: both; 
    border-bottom: #cccccc 2px solid;
    /* padding: 10px; */
}
.center {
    margin: 0 auto;
    width: 960px;
}
.name {
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    float: left;
}

.links {
    float: right;
    margin-top: 30px;
    
}
ul {
    list-style: none;

}
li {
    float: left;
    margin-left: 20px;
}
.main-body {
    background-color: #ffffff;
    margin: 200px auto;
    width: 960px;
    clear: both;
    position: relative;
    /* overflow: auto; */
}
.second-title {
    color: #4aaaa5;
    border-bottom: #cccccc 3px solid;
    margin: 15px;
}
.txt {
    margin: 15px;
    /* position: absolute; */
    /* top: 100px; */
}
a, p {
    text-decoration: none;
    color: #777777;
    font-size: 22px;
}
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #666666;
    border-top: #4aaaa5 solid 10px;
    height: 10%;
}
.copyright {
    text-align: center;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%

}